/*xs Divice */
@media (max-width:767px) { 
    
    h1{
        color: red;
    }
}

/*sm Divice */
@media (min-width:767px) and (max-width:991px) {

h1{
        color: gray;
    }


}
/*md Divice */
@media (min-width:991px) and (max-width:1199px) {
    
    h1{
        color: blue;
    }
    
    
}
/*lg Divice */
@media (min-width:1200px) {
    
    h1{
        color: greenyellow;
    }
    
    
}